{
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"bracketSpacing": true,
	"trailingComma": "all",
	"endOfLine": "auto",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore"
}
